    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    @import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap");
    @import url("https://fonts.googleapis.com/earlyaccess/notosansthaiui.css");

    @font-face {
        font-family: 'Noto Sans Thai';
        font-style: normal;
        font-weight: 400;
        src: url("https://static.pkn.sh/fonts/NotoSansThai/NotoSansThaiUI-Regular.woff2") format("woff2"), url("https://static.pkn.sh/fonts/NotoSansThai/NotoSansThaiUI-Regular.woff") format("woff");
    }
  
    @font-face {
        font-family: 'Noto Sans Thai';
        font-style: normal;
        font-weight: 700;
        src: url("https://static.pkn.sh/fonts/NotoSansThai/NotoSansThaiUI-Bold.woff2") format("woff2"), url("https://static.pkn.sh/fonts/NotoSansThai/NotoSansThaiUI-Bold.woff") format("woff");
    }
    body {
        padding: 0;
        margin: 0;
        font-family: 'Noto Sans Thai', 'Noto Sans';
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    /* THEME: Light & Dark */
    html[data-theme="light"] {
    background: #fafafa;
    color: #111;
    }

    html[data-theme="dark"] {
    background: #0f1115;
    color: #eee;
    }

    html {
    transition: background 0.4s ease, color 0.4s ease;
    }